section { min-height: calc(100vh - 240px); padding: 0 9%; margin-top: 200px;}

.sDetailSection { margin-bottom: 70px; } 

.mapInfoAll { display: flex; align-items: center; justify-content: space-between;}

.schMap { width: calc(100vw * 600 / 1920); height: calc(100vw * 900 / 1920); border-radius: 10px; border: 2px solid #ddd;}

.schInfo { display: flex; align-items: center; flex-direction: column; justify-content: flex-start; width: calc(100vw * 800 / 1920); height: calc(100vw * 840 / 1920); border-radius: 10px; padding: 30px; border: 1px solid #ddd;}

.infoTitle { width: 100%; margin-bottom: 30px; display: flex; align-items: center; justify-content: space-between; font-size: 17px; font-family: pSemi;}
.infoTitle .btn { opacity: .5; cursor: pointer; transition: all .2s;}
.infoTitle .btn:hover { opacity: 1; }
.infoTitle .backBtn { width: 18px; height: 18px; background: url(../source/arrow_l.png) center center; background-size: cover;  }
.infoTitle .delBtn { width: 24px; height: 24px; background: url(../source/delIco.png) center center; background-size: cover; }

.schInfo .schDays { width: 100%; height: 60px; margin-bottom: 30px; display: flex; align-items: center; justify-content: center; color: #000000d1; background: #41ff3b30; border-radius: 10px; font-family: pRegular; font-size: 16px; letter-spacing: 1px; }

.schInfo .schLoc { width: 100%; position: relative; margin: 0 0 40px 100px; font-size: 17px;}
.schInfo .schLoc::before { position: absolute; top: -15%; left: -5%; content: ''; background: url(../source/loc.png) center center; background-size: cover; width: 23px; height: 23px; }

.daySch { width: 100%; }
.daySch .dNum { padding: 6px 15px; margin-right: 10px; background: var(--yellow); color: #333; border-radius: 15px;}
.daySch .date { padding: 5px 15px; border-left: 1px solid var(--color-line); color: #555; font-size: 14px; }
